    .imageDiv{
        margin: auto;
        margin-top: 20px;
        width: fit-content;
        .image{
            width:500px;
        }
    }
    .logInContainer{
        background-color: #212529;
        color: #ffffff;
        box-shadow: 0px 5px 42px 5px #000000;
        border-radius: 15px ;
        margin: 55px auto;
        margin-bottom: 150px;
        padding: 10px 20px 20px 20px;
        .formDiv{
            padding-left: 30px;
            padding-right: 30px;
            label{
                font-size: 20px;
                // margin-bottom: 10px;
                margin-top: 7px;
            }
            input{
                width: 100%;
                min-height: 30px;
                outline: none;
                border-radius: 15px;
                border: none;
                margin-bottom: 10px;
                margin-top: 5px;
            }
            span{
                font-size: 12px;
                color: #eb2a2a;
                text-shadow: 2px 2px 8px #d43434;
                margin-bottom: 10px;
                height: 10px;
                p{
                    margin: 0px;
                }
            }
            .logInBtn{
                width: 150px;
                height: 40px;
                color: #ffffff;
                background-color: #34bd34;
                border: none;
                border-radius: 10px ;
                transition: all .5s;
                cursor: pointer;
                margin-bottom: 40px;
                margin-top: 10px;
            }
            .logInBtn:hover{
                background-color: #217421;
            }
            .signUpBtn{
                width: 150px;
                height: 40px;
                color: white;
                background-color: #4949b8;
                border: none;
                border-radius: 10px ;
                cursor: pointer;
                transition: all 0.5s;
                margin-bottom: 30px;
                a{
                    text-decoration: none;
                    color: white;
                }
            }
            .signUpBtn:hover{
                background-color: #1d1d64;
            }
            // a{
            //     text-decoration: none;
            //     color: white;
            // }
            // ul{
            //     list-style:none ;
            //     padding: 0px 20px;
            //     h1{
            //         padding-top: -10px !important;
            //     }
            //     li{
            //         position: relative;
            //         height: 55px;
            //         padding: 10px;
            //         label{
            //             font-size: 17px;
            //         }
            //         input{
            //             width: 170px;
            //             height: 25px;
            //             outline: none;
            //             border: 1px outset #cecece ;
            //             border-radius: 5px;
            //             margin-right: 0;
            //             position: absolute;
            //             right: 0px;
            //             font-size: 15px;
            //         }
            //         .checkbox{
            //             cursor: pointer;
            //         }
            //         span{
            //             font-size: 12px;
            //             color: #eb2a2a;
            //             text-shadow: 2px 2px 8px #d43434;
            //         }
            //     }
            //     span{
            //         color: #eb2a2a;
            //         text-shadow: 2px 2px 8px #d43434;
            //     }
            //     .buttonLi{
            //         height: 150px;
            //         .signUpBtn{
            //             width: 100px;
            //             height: 40px;
            //             color: white;
            //             background-color: #4949b8;
            //             border: none;
            //             border-radius: 10px ;
            //             cursor: pointer;
            //             transition: all 0.5s;
            //             a{
            //                 text-decoration: none;
            //                 color: white;
            //             }
            //         }
            //         .signUpBtn:hover{
            //             background-color: #1d1d64;
            //         }
            //         .logInBtn{
            //             width: 100px;
            //             height: 40px;
            //             color: white;
            //             background-color: #34bd34;
            //             border: none;
            //             border-radius: 10px ;
            //             transition: all .5s;
            //             cursor: pointer;
            //         }
            //         .logInBtn:hover{
            //             background-color: #217421;
            //         }
                // }
            // }
        }
    }