.deviceDiv{
    background-color: #8F8F8F;
    width: fit-content;
    height: fit-content;
    .deviceCol{
        padding: 0px !important;
        .deviceImage{
            width: 100%;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
}