
.secondRow{
    // background-color: #061bdb;
    background-color: #3D3F52;
    // margin-bottom: 40px;
    .col{
        .imgDiv{
            width: 90%;
            margin: auto;
            img{
                width: 90%;
                margin: auto;
            }
        }
        .paraDiv{
            padding: 40px;
            .para{
                color: #ffff;
                font-size: 30px;
            }
        }
    }
}