.forecastDiv{
    width: 100%;
    color: #ffffff;
    transition: all .5s;
    .mainInfoDiv{
        width: 100%;
        text-align: center;
        padding-top: 5px;
        border-top: #c0c0c0 2px solid;
        // border: brown 2px solid;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        .name{
            margin-top: 15px;
            font-size: 25px;
            margin-bottom: 8px;
        }
        .icon{
            margin-top: -30px;
        }
        .tempDiv{
            // padding-left: 130px;
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;
            margin-top: -10px;
            // border: blue 2px solid;
            img{
                float: left;
                // margin-right: 5px;
            }
            .temperature{
                float: left;
                margin-top: 15px;
                font-size: 30px;
                margin-right: 3px;
            }
            .metric{
                font-size: 20px;
                float: left;
                margin-top: 0px;
            }
        }
    }
    .dateAndTime{
        width: 100%;
        // height: 50px;
        background-color: #2a2ab4;
        color: white;
        border-radius: 15px;
        margin-top: 10px;
        .innerTimeDiv{
            width: 100%;
            img{
                float: left;
                margin-top: 12px;
                margin-left: 5px;
            }
            p{
                float: left;
                margin-left: 5px;
                margin-top: 13px;
            }
        }
    }
    }
    .moreInfo{
        width: 100%;
        // background-color: #2a2ab4;
        color: white;
        border-radius: 15px;
        margin-top: 10px;
        font-size: 17px;
        .innerWeatherDiv{
            width: 100%;
            img{
                float: left;
                margin-top: 12px;
                margin-left: 5px;
            }
            p{
                float: left;
                margin-left: 5px;
                margin-top: 13px;
            }
        }
    }
.forecastDiv::-webkit-scrollbar {
    display: none;
}