.main{
    text-align: center;
    padding-bottom: 150px;
    .headerDiv{
        margin: auto;
        background-color: #ffffffb7;
        width: fit-content;
        h1{
            margin-bottom: 25px;
            text-shadow: 3px 3px 5px #02027e;
            margin-top: 100px;
        }
    }
    .imageDiv{
        margin: auto;
        margin-top: 0px;
        width: fit-content;
        .image{
            width:500px;
        }
    }
    .weatherContainer{
        margin: auto;
        padding: 15px;
        background-color: #212529;
        color: #ffffff;
        box-shadow: 0px 5px 42px 5px #000000;
        border-radius: 15px;
        height: fit-content;
        .searchBox{
            display: flex;
            align-items: center;
            justify-content: center;
            padding-bottom:10px ;
            position: relative;
            .searchIcon{
                position: absolute;
                left: 0px;
                transition: all .5s;
            }
            .searchInput{
                text-align: center;
                width: 100%;
                height: 40px;
                padding: 5px;
                border: solid gray 1px;
                outline: none;
                font-size: x-large;
                border-radius: 15px;
            }
            ::placeholder{
                color: #000000;
                font-size: larger;
                text-align: center;
                transition: all .5s;
            }
    
        }
        .searchBoxAnimation{
            .searchIcon{
                left: 90%;
            }
            ::placeholder{
                color: #1d295f;
                font-size: larger;
                text-align: center;
            }
        }
        .buttonBox{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 5px;
            margin-bottom: 10px;
            button{
                height: 35px;
                width: 120px;
                color: white;
                background-color: #34bd34;
                border: none;
                cursor: pointer;
                transition: all .5s;
                border-radius: 15px;
            }
            button:hover{
                background-color: #217421;
            }
        }
    }
}