.nav{
    background-color: #000000 !important;
    .navBrand{
        color: #0505ac;
        
    }
    .pagesLink{
        color: #ffffff !important;
    }
    .pagesLink:hover{
        color: #979797 !important;
    }
    .registerDiv{
        margin-top: 10px;
        // transition: all .5s;
        .logOutBtn{
            color: #ff0000;
            // transition: all .5s;
        }
        .logOutBtn:hover{
            color: #ff3434;
        }
        p{
            float: left;
        }
        img{
            float: left;
            margin-right: 5px;
            transition: all .5s;
        }
    }
    .registerDiv:hover{
        img{
            padding-right: 30px;
        }
    }
    .userLink{
        cursor: context-menu;
        .userDiv{
            margin-top: 10px;
            p{
                color: #0000ff;
                float: left;
            }
            img{
                float: left;
                margin-right: 5px;
            }
        }
    }
}