.nav{
    background-color: #000000 !important;
    a{
        text-decoration: none;
        color: white;
    }
    .navBrand{
        a{
            text-decoration: none;
            color: #020086;
        } 
    }
    .pagesLink{
        a{
            text-decoration: none;
            color: white;
        }
    }
    .pagesLink:hover{
        a{
            text-decoration: none;
            color: #979797 !important;
        }
    }
    .registerDiv{
        margin-top: 10px;
        // transition: all .5s;
        .logOutBtn{
            text-decoration: none;
            color: #f12929;
        }
        .logOutBtn:hover{
            text-decoration: none;
            color: #ff3434;
        }
        p{
            float: left;
        }
        img{
            float: left;
            margin-right: 5px;
            transition: all .5s;
        }
    }
    .registerDiv:hover{
        img{
            padding-right: 30px;
        }
    }
    .userLink{
        cursor: context-menu;
        .userDiv{
            margin-top: 10px;
            p{
                color: #0000ff;
                float: left;
            }
            img{
                float: left;
                margin-right: 5px;
            }
        }
    }
}