.cryptoFillContainer{
    .cryptoContainer{
        overflow-x: hidden;
        .header{
            text-align: center;
            text-shadow: 3px 3px 5px #02027e;
            margin-top: 100px;
        }
        .searchDiv{
            display: flex;
            align-items: center;
            justify-content: center;
            .searchInput{
                padding: 15px;
                border-radius: 15px;
                border: solid gray 1px;
                outline: none;
                width: 350px;
                height: 40px;
                margin-bottom: 40px;
                margin-top: 30px;
                box-shadow: 0px 5px 42px 5px #000000;
            }
        }
        .tableDiv{
            overflow-x: scroll;
            border-radius: 15px;
            .table{
                border: 1px solid gray;
            }
            
        }
    }

}