tr{
    td{
        .image{
            width: 50px;
            float: left;
        }
        p{
            color: #ffffff;
            text-align: center;
            margin-top: 15px;
            margin-bottom: 0;
        }
    }
}